html{
    font-size: 62.5%;
    }

body{
    background-color: #F3EEE7;
    background-image: url(../img/magic.png);
    background-position: right top;
}
#search{
    width: 332px;
    display: flex;
    padding: 10px 16px;
    margin: 92px auto 16px;
    justify-content: space-between;
    border-radius: 10px;
    background-color: #fff;
}
#searchWord{
    width: 270px;
}
#keyWords{
    margin-bottom: 6px;
    display: flex;
    gap: 1.6rem;
    justify-content: center;
}
#keyWords p{
    padding: 0.2rem 0.6rem;
    border-radius: 5px;
    border: 1px solid #016855;
    color: #016855;
}
.fa-sliders{
    font-size: 2rem;
    color: #d9d9d9;
}
a{
    text-decoration: none;
}
.room_wrap{
    width: 33.2rem;
    margin: 12px auto;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.90);
    color: #000;
}
.underline_y{
    border: 1px solid #D7C25E;
}
.underline_r{
    border: 1px solid #932727;
}
.room_header{
    display: flex;
    justify-content: space-between;
}
.room_header h2{
    font-size: 14px;
    font-family: "Hiragino Mincho Pro";
}
.room_header img{
    height: 1.8rem;
    border-radius: 100px;
    background-color: #000;
}
.room_content{
    padding: 6px 0;
    line-height: 1.6rem;
    font-family: "Hiragino Kaku Gothic Std";
}
.room_footer{
    display: flex;
    justify-content: space-between;
}
.footer_tag p{
    margin-right: 10px;
    padding: 0.2rem 0.6rem;
    border-radius: 5px;
    border: 1px solid #016855;
    color: #016855;
}
.fa-circle-plus{
    position: fixed;
    bottom: 70px;
    right: 15px;
    font-size: 40px;
    color: #D7C25E;
}
.fa-house{
    color: #D7C25E;
}
