html{
    font-size: 62.5%;
    }
body{
    background-color: #F3EEE7;
}
#logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#logo img{
    width: 50%;
}